@import '../../styles/main.scss';

.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: end;
    position: relative;
    margin: auto auto 0;
    padding: 0.875rem 2.563rem 0.875rem 1.75rem;
    @include breakpoint-down(mobile) {
        padding: 0.875rem 1rem 0.875rem 1rem;
    }

    img {
        margin-right: 4.5rem;
        cursor: pointer;
        @include breakpoint-down(mobile) {
            margin-right: 2rem;
        }
    }
    z-index: 3;
}

.totalPrice {
    display: flex;
    align-items: center;
}

.order, .modal {
    width: 100%;
    max-width: 29.75rem;
    margin: auto auto .75rem;
    border-radius: 0.938rem;
    background-color: $c-white-dark;
    z-index: 3;
}

.modal {
    position: absolute;
    top: -2.125rem;
    left: 0;
    transform: translate(0, -100%);
    padding: 4rem 2.875rem;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.84);
    backdrop-filter: blur(2px);
    z-index: 1;
}

.items {
    border-bottom: 1px solid $c-grey;
    margin-bottom: 2.2rem;
    padding-bottom: 2.2rem;
}

.item {
    display: flex;
    justify-content: space-between;

    span {
        font-size: 1rem;
    }
}

.item + .item {
    margin-top: 2.2rem;
}