@import '../../Styles/main.scss';

.products {
    display: flex;
    gap: 3.5rem;
    margin: -2.25rem -7rem 1rem;
    padding: 2.25rem 7rem 0;
    overflow-x: auto;
    @include breakpoint-down(tablet) {
    margin: -2.25rem -3.5rem 1rem;
    padding: 2.25rem 3.5rem 0;
    } 
    @include breakpoint-down(mobile) {
        margin: -2.25rem -2.75rem 1rem;
        padding: 2.25rem 2.75rem 0;
    }
        
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    &::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    }
}