@import '../../styles/main.scss';

.products {
    display: flex;
    gap: 3.5rem;
    margin-bottom: 3rem;
    margin-top: -2.25rem;
    padding-top: 2.25rem;
    overflow-x: auto;
    overflow-y: visible; // -_-
        
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    &::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    }
}