.btn {
    display: inline-block;
    text-align: center;
    position: relative;
    min-width: 9.625rem;
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 0.938rem;
    background-color: $c-main;
    color: $c-white;
    cursor: pointer;
    transition: background-color $t-duration;
    
  
    &:hover {
      background-color: $c-main-light;
      color: $c-main;
    }
  
    &:active {
      transform: scale(0.9);
    }
  }