@import '../../styles/main.scss';

.main {
    
    h1 {
        max-width: 22rem;
        margin-bottom: 2.313rem;
    }

    p {
        max-width: 32.5rem;
    }

    .headingBox {
        margin-bottom: 4.313rem;
    }
}