@import '../../styles/main.scss';

.nav {
    display: flex;
    align-items: center;
    gap: 2.25rem;
    font-size: .875rem;
    font-weight: 600;
    color: $c-grey;
    @include breakpoint-down(mobile) {
        flex-direction: column;
    }
    @include breakpoint-down(mobile-medium) {
        margin-right: -1.5rem;
    }

    .group {
        gap: 2.25rem;
    }
    
    a, li {
        display: flex;
        align-items: center;
        transition: all $t-duration;

        &:hover {
            color: $c-main;
        }
    }

    .delivery {
        position: relative;
        background-color: $c-main-light;
        color: $c-main;
        padding: .75rem 4.5rem 0.75rem 1.5rem;
        border-radius: 1.5rem;
        transition: all $t-duration;
        cursor: pointer;
        &:hover {
            background-color: $c-main;
            color: $c-white;
            img {
                transition: all $t-duration;
                margin-left: 6rem;
            }
        }
    }
    .deliveryCircle {
        @include flexCenter;
        position: absolute;
        right: 0;
        width: 3.438rem;
        height: 3.438rem;
        border-radius: 50%;
        overflow: hidden;
        margin-left: 2rem;
        background-color: $c-white;

    }
}